#entirePlan{
    position: relative;
    top:100px;
    width: 1200px;
    padding-top: 50px;
    background-color: rgba(255,255,255,0.7);
box-shadow: 0 3px 10px #cbcbcb, 0 -3px 10px #dddddd;
}

#mapPlanContain {
    height: auto;
    display: flex;
    align-items: center;
}


#mapFrame {
    display: grid;
    border-radius: 7px;
    width: 700px;
    height: 700px;
    margin :0 50px 50px 60px;


}

#planFrame {
    
    display: flex;          /* #planFrame을 flex 컨테이너로 설정 */
    flex-direction: column; /* 자식 요소들을 세로로 정렬 */
    padding-bottom: 120px;
    align-items: center;
}

.entireScroll{
    border: 2px solid #DADADA;
    border-right: none;
    border-left: none;
    overflow-y: auto;
    padding: 10px;
    width:300px;
    height:168px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#newTripBt {
    width :190px;
    height: 40px;
    border-radius: 25px;
    border: none;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6A354;   
    color: #fff;
    padding-left: 12px;
}



#newTripBt img {
    margin-left: 10px;
}

.entireTitle{
    color: #F6A354;
    font-size:18px;
    font-weight: 600;
    margin :25px 0 15px 0;

}