.newTrip {
    display: flex; /* Flexbox 활성화 */
    width: 1150px;

    margin-top: 400px;
    flex-direction: column; /* 자식 요소들을 세로로 나열 */
    align-items: center; /* 자식 요소들을 가로로 중앙 정렬 */

    height: auto; /* 화면 전체 높이에 맞추기 (선택 사항) */
    padding: 20px; /* 여백 추가 (선택 사항) */
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 3px 10px #cbcbcb, 0 -3px 10px #dddddd;


}

.bigPlan{
    width:260px;
    height: 45px;
    border:3px solid #DADADA;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
    margin: 8px 20px 0 20px;
}

#rootSet{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#rootSet h3{
    text-align: center;
}

#locationFrame{
    display: grid;
    grid-template-columns: 3fr 2fr;
    border: 3px solid #DADADA;
    border-right: none;
    border-left: none;
    width: 875px;
    height: 500px;
    margin-bottom: 20px;

}

#newMap{
    height: 100%;
    background-color: rgb(190, 190, 190);
}

#addDirectionFrame{
    height: 100%;
}

#checkAndEnd{
    display: grid;
    grid-template-columns: 3fr 2fr;
    width:870px;
    height: 400px;
}

#checkListFrame{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#checkList{
    border : 3px solid #DADADA;
    border-right: none;
    border-left: none;
    width: 525px;
    height: 300px;
}

#newEnd,#newNoBack{
    width :200px;
    height: 45px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
    margin-left: 100px;
    padding-left: 10px;
    
}

#endBtFrame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#newEnd{   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6A354;   
    color: #fff;
}

#newNoBack{
    background-color: #a1a1a1;
    color: #fff;
}